# =========================
# ENV / SECRETS
# =========================
.env
.env.*


# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# =========================
# DATA
# =========================
data/raw/*
!data/raw/.gitkeep

# =========================
# AIRFLOW
# =========================
logs/*
plugins/*
airflow.cfg
airflow.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / CACHE
# =========================
.pytest_cache/
.coverage
htmlcov/
